@model List<KozmetikTanitimSite.Models.Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Arama Sonuçları</h2>

@if (!Model.Any())
{
    <p>Sonuç bulunamadı.</p>
}
else
{
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="@product.ImageUrl" class="card-img-top" style="height:200px; object-fit:cover;" />
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Description</p>
                        <p class="fw-bold">@product.Price ₺</p>
                        <a href="@Url.Action("Detail", "Home", new { id = product.Id })" class="btn btn-outline-primary">Detay</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
